.first_container{
    width: 481px;
    height: 698px;
    border: 1px solid black;
    background-color: pink;
}
.second_container{
    width: 481px;
    height: 330px;
    border: 1px solid black;
    background-color: aquamarine;
}
.news_tab{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 1000px;
}
.inner_tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news_center{
    display: flex;
    justify-content: center;
}